<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <div th:remove="tag" th:replace="~{fragments/header :: navbar}"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="form-group mb-3">
                        <h2 class="text-center">Api Keys</h2>
                    </div>
                    <b class="header"> Key value</b>
                    <div class="card">

                        <p class="flex-box" th:text="${apiKeyValue}"></p>

                    </div>
                    <span>Api calls remaining <b th:text="${apiRequestString}"></b></span>
                    <!--          <p class="details" th:text="${apiRequestString}"></p>-->
                    <p></p>
                    <a class="btn btn-primary" th:href="@{/generate}" type="submit">Generate new API key </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="form-group mb-3">
                        <h2 class="text-center">Example endpoints</h2>
                    </div>

                    <!--            <p class="flex-box" th:text="/api/exchange" th:href="@{/api/exchange(apiKey=${apiKeyValue})}"></p>-->
                    <a></a>
                    <table class="table">
                        <thead>
                        <tr class="table-dark">
                            <th>Data fetched</th>
                            <th>API key required</th>
                            <th>Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Latest exchange rates</td>
                            <td>Yes</td>
                            <td>
                                <a th:href="@{/api/exchange(apiKey=${apiKeyValue})}">Link</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Currencies available</td>
                            <td>No</td>
                            <td>
                                <a th:href="@{/api/currencies}">Link</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Places where currencies can be used</td>
                            <td>No</td>
                            <td>
                                <a th:href="@{/api/currencies/locations}">Link</a>
                            </td>
                        </tr>
                        <tr>
                            <td>USD rates compared to EUR from the first seven days of August 2023</td>
                            <td>Yes</td>
                            <td>
                                <a th:href="@{/api/exchange(apiKey=${apiKeyValue},baseCurrency='EUR',currency='USD',startDate='2023-08-01',finishDate='2023-08-07')}">Link</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Convert 1200 EUR to GBP, exchange from 2001-06-12</td>
                            <td>Yes</td>
                            <td>
                                <a th:href="@{/api/exchange(apiKey=${apiKeyValue},baseCurrency='EUR',currency='GBP',startDate='2001-06-21',currencyValue='1200')}">Link</a>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<footer class="footer">-->
<!--  <div class="container">-->
<!--    <div class="text-muted" th:replace="~{fragments/footer :: footer}"></div>-->
<!--  </div>-->
<!--</footer>-->
</body>
</html>