<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
<!--    <div th:replace="fragments/head :: head"  th:remove="tag"></div>-->
</head>
<body>
    <main role="main" class="d-flex align-items-center text-center" style="height: 85vh;">
        <div class="bg-white rounded box container p-4" style="width: 500px;">
            <div>
                <h1>Rejestracja</h1>
            </div>
            <form th:action="@{/process_register}" method="post" th:object="${user}" style="max-width: 600px; margin: 0 auto;">
                <div class="m-3 text-right font-weight-bold">
                    <div class="form-group row">
                        <label class="col-form-label col-5">Login: </label>
                        <div class="col-5">
                            <input type="text" class="form-control" th:field="*{userName}"  minlength="3" maxlength="20" pattern="^[a-z]+$" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-5">Hasło: </label>
                        <div class="col-5">
                            <input type="password" class="form-control" th:field="*{password}" minlength="5" required />
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Zarejestruj</button>
                        <a href="/index.html" style="display:inline-block; line-height: 38px; padding: 5px; font-size: 16px; text-decoration: none;" th:href="@{/}">Wróć</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>